@import "tailwindcss";

@theme {
    --color-dark: #17153B;
    --color-medium: #2E236C;
    --color-light: #433D8B;
    --color-beige: #C8ACD6;
    --color-mud-beige: #7B68A1;
    --color-green-bright: #22FF00;
    --color-green-light: #19B900;
    --color-red: #820000;
}


@font-face {
    font-family: 'PressStart2P';
    src: url('/src/assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}

/*.font-custom {*/
/*  font-family: 'PressStart2P', serif;*/
/*}*/

@font-face {
    font-family: 'Handjet';
    src: url('/src/assets/fonts/Handjet-Light.ttf') format('truetype');
}

/*.font-custom {*/
/*  font-family: 'Handjet', serif;*/
/*}*/

@font-face {
    font-family: 'Outfit';
    src: url('/src/assets/fonts/Outfit-Medium.ttf') format('truetype');
}